name: publish-pkg

on:
    release:
        types: [created]

jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Node.js
              uses: actions/setup-node@v6
              with:
                node-version: 24
                registry-url: https://npm.pkg.github.com
                scope: '@warhe8d'
            - run: npm ci
            - run: npm test

            - name: Publish package
              run: npm publish
              env:
                NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}